header{
    background-color: #809A6F;
    color: white;
    text-align: center;
    width: 100%;
}

header h1{
    margin: 0 0 auto;
    padding: 1rem 0;
    font-family: 'Roboto';
}

body{
    margin: 0;
    background-color: #D5D8B5;
}

li{
    margin: 1rem;
    list-style: none;
}

ul{
    padding: 0;
    width: 80%;
}

textarea{
    resize: none;
}

.todo-item{
    padding: 0;
    border: 0;
    display: flex;
    justify-content: center;
}

.todo-item textarea{
    margin: 0;
    display: inline;
    width: 100%;
    outline: none;
    font-family: Arial, Helvetica, sans-serif monospace;
    font-size: 1.3rem;
    color: gray;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
}

.todo-item input{
    border-radius: 1rem;
    background-color: #FF4949;
    border: none;
    color: white;
    width: 3rem;
    margin: auto auto auto 15px;
    font-size: 15px;
    display: block;
    height: 3rem;
    font-weight: bold;
}

.todo-item input:hover{
    border: 3px solid white;
}

.todo-list{
    display: flex;
    justify-content: center;
}

.add-item{
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
    background-color: #82954B;
    color: white;
    margin: auto;
    display: flex;
    font-size: 25px;
}